'scopeName': 'source.tj3'
'name': 'TaskJuggler 3'
'fileTypes': [
  'tjp'
  'tji'
  'tjp.erb'
  'tji.erb'
]
'patterns': [
  {
    'match': '(#|\/\/).*$'
    'name': 'comment.line.tj3'
  }
  {
    'begin': '/\\*'
    'captures':
      '0':
        'name': 'punctuation.definition.comment.tj3'
    'end': '\\*/'
    'name': 'comment.block.tj3'
  }
  {
    'name': 'keyword.container.tj3'
    'match': '\\b(project|task|resource)\\b'
  }
  {
    'name': 'keyword.control.tj3'
    'match': '\\b(allocate)\\b'
  }
  {
    'name': 'string.quoted.single.tj3'
    'begin': "'"
    'end': "'"
    'patterns':
      'name': 'constant.character.escape.tj3'
      'match': '\\.'
  }
  {
    'name': 'string.quoted.double.tj3'
    'begin': '"'
    'end': '"'
    'patterns':
      'name': 'constant.character.escape.tj3'
      'match': '\\.'
  }
]
