'scopeName': 'source.tj3'
'name': 'TaskJuggler 3'
'fileTypes': [
  'tjp'
  'tji'
  'tjp.erb'
  'tji.erb'
]
'patterns': [
  {
    'match': '(#|\/\/).*$'
    'name': 'comment.line.tj3'
  }
  {
    'begin': '/\\*'
    'captures':
      '0':
        'name': 'punctuation.definition.comment.tj3'
    'end': '\\*/'
    'name': 'comment.block.tj3'
  }
  {
    'name': 'keyword.control.tj3'
    'match': 'project|task|resource|allocate'
  }
]
